@import '~bootstrap/scss/bootstrap';
@import '~resources/scss/partials/_variables.scss';
@import "@fortawesome/fontawesome-free/css/all.css";
@import '~resources/scss/partials/_mixins.scss';
@import '~resources/scss/partials/_comics.scss';
@import '~resources/scss/partials/_single-comic.scss';
@import '~resources/scss/partials/_footer.scss';
@import '~resources/scss/partials/_header.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}