@import '~resources/scss/partials/_mixins.scss';
@import '~resources/scss/partials/_variables.scss';



.blue-ctn {
    height: 50px;
    width: 100%;
    background-color: $blue;

    .ctn-img {
        @include width70;
        position: relative;

        img {
            position: absolute;
            top: -170px;
            left: 0;
            height: 200px;
        }
    }
}

.container-single {
    @include width70;

    div {
        margin: 20px;
    }

    h2 {
        text-transform: uppercase;
        color: rgb(3, 2, 56);
        padding: 20px 0;
        font-size: 25px;
    }
}